<div class="shadow-sm rounded-xl bg-surface-0 dark:bg-surface-950 px-2 w-full">
  <ul class="p-2 m-0 list">
    <li class="py-2 flex justify-between items-center ">
      <div class="flex items-center gap-2">
        <i class="pi pi-arrow-up-right"></i>
        <div>
          <p class="my-1">Daily Shop</p>
          <p class="my-1 text-sm">Bkash</p>
        </div>
      </div>
      <p>-299.00 TK</p>
    </li>
    <li class="py-1 flex justify-between items-center ">
      <div class="flex items-center gap-2">
        <i class="pi pi-arrow-down-left"></i>
        <div>
          <p class="my-1">Daily Shop</p>
          <p class="my-1 text-sm">Bkash</p>
        </div>
      </div>
      <p>+200.00 TK</p>
    </li>
    <li class="py-1 flex justify-between items-center ">
      <div class="flex items-center gap-2">
        <i class="pi pi-arrow-up-right"></i>
        <div>
          <p class="my-1">Daily Shop</p>
          <p class="my-1 text-sm">Bkash</p>
        </div>
      </div>
      <p>-299.00 TK</p>
    </li>
    <li class="py-1 flex justify-between items-center ">
      <div class="flex items-center gap-2">
        <i class="pi pi-arrow-up-right"></i>
        <div>
          <p class="my-1">Daily Shop</p>
          <p class="my-1 text-sm">Bkash</p>
        </div>
      </div>
      <p>-299.00 TK</p>
    </li>
    <li class="py-1 flex justify-between items-center">
      <div class="flex items-center gap-2">
        <i class="pi pi-arrow-up-right"></i>
        <div>
          <p class="my-1">Daily Shop</p>
          <p class="my-1 text-sm">Bkash</p>
        </div>
      </div>
      <p>-299.00 TK</p>
    </li>
  </ul>
</div>