<div class="shadow-1 border-round-xl surface-section px-2 w-full">
  <ul class="p-2 m-0 list">
    <li class="py-2 flex justify-content-between align-items-center ">
      <div class="flex align-items-center gap-2">
        <i class="pi pi-arrow-up-right"></i>
        <div>
          <p class="my-1">Daily Shop</p>
          <p class="my-1 text-sm">Bkash</p>
        </div>
      </div>
      <p>-299.00 TK</p>
    </li>
    <li class="py-1 flex justify-content-between align-items-center ">
      <div class="flex align-items-center gap-2">
        <i class="pi pi-arrow-down-left"></i>
        <div>
          <p class="my-1">Daily Shop</p>
          <p class="my-1 text-sm">Bkash</p>
        </div>
      </div>
      <p>+200.00 TK</p>
    </li>
    <li class="py-1 flex justify-content-between align-items-center ">
      <div class="flex align-items-center gap-2">
        <i class="pi pi-arrow-up-right"></i>
        <div>
          <p class="my-1">Daily Shop</p>
          <p class="my-1 text-sm">Bkash</p>
        </div>
      </div>
      <p>-299.00 TK</p>
    </li>
    <li class="py-1 flex justify-content-between align-items-center ">
      <div class="flex align-items-center gap-2">
        <i class="pi pi-arrow-up-right"></i>
        <div>
          <p class="my-1">Daily Shop</p>
          <p class="my-1 text-sm">Bkash</p>
        </div>
      </div>
      <p>-299.00 TK</p>
    </li>
    <li class="py-1 flex justify-content-between align-items-center">
      <div class="flex align-items-center gap-2">
        <i class="pi pi-arrow-up-right"></i>
        <div>
          <p class="my-1">Daily Shop</p>
          <p class="my-1 text-sm">Bkash</p>
        </div>
      </div>
      <p>-299.00 TK</p>
    </li>
  </ul>
</div>