<div class="block-content">
    <div class="main">
        <div class="min-h-screen flex relative lg:static surface-ground">
            <div class="surface-section h-screen hidden lg:block flex-shrink-0 absolute lg:static left-0 top-0 z-1 border-right-1 surface-border select-none"
                style="width: 280px">
                <app-sidebar style="height: 100%;" />
            </div>
            <p-sidebar [(visible)]="sidebarVisible" class="lg:hidden">
                <app-sidebar />
            </p-sidebar>
            <div class="min-h-screen flex flex-column relative flex-auto">
                <app-topbar (hideSidebar)="onShowSidebar($event)" />
                <div class="p-5 flex flex-column flex-auto">
                    <div class="border-2 border-dashed surface-border border-round surface-section flex-auto">
                        <router-outlet />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>