<div class="block-content bg-surface-100">
    <app-topbar (hideSidebar)="onShowSidebar($event)" />
    <div class="min-h-screen flex relative lg:static bg-surface-50 dark:bg-surface-950">
        <div
            class="bg-surface-50 dark:bg-surface-950 w-48 xl:w-[17rem] hidden lg:block shrink-0 lg:static left-0 top-0 z-10 border-r border-surface select-none">
            <app-sidebar [sidebarVisible]="sidebarVisible()"/>
        </div>
        <p-sidebar [(visible)]="sidebarVisible" class="lg:hidden">
            <app-sidebar [sidebarVisible]="sidebarVisible()"/>
        </p-sidebar>
        <div class="min-h-screen flex flex-col relative flex-auto">
            <div class="p-1 md:p-4 flex flex-col flex-auto">
                <div
                    class="w-screen md:w-auto border-2 border-dashed border-surface rounded-border flex-auto p-2 md:p-4">
                    <router-outlet />
                </div>
            </div>
        </div>
    </div>
</div>