<!-- container -->
<div class="w-full h-full flex flex-row">
  <div class="flex flex-col w-8/12">
    <div>
      <p class="text-xl font-semibold mt-1 mb-4">Money Status</p>
      <!-- money status chart -->
      <div class="pr-4">
        <app-money-status-chart />
      </div>
    </div>
    <div class="flex flex-row mt-4 gap-6">
      <div>
        <p class="text-xl font-semibold">Budgets</p>
        <app-budgets />
      </div>
      <div class="flex-1">
        <p class="text-xl font-semibold">Recent Transactions</p>
        <app-recent-transactions />
      </div>
    </div>
  </div>
  <div class="w-4/12">
    <app-wallet-balance />
  </div>
</div>