@import "primeicons/primeicons.css";
body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.material-icons,
.material-symbols-outlined {
  vertical-align: text-bottom;
}
