<div class="flex flex-col gap-4">
  @for (item of budgetsData; track $index) {
  <div class="rounded-2xl flex shadow">
    <div class="bg-blue-700 rounded-l-xl flex items-center p-2 pl-4 gap-2 w-40 lg:w-44">
      <i class="pi pi-wallet text-white" ></i>
      <p class="text-white text-base lg:text-lg">{{item.name}}</p>
    </div>
    <div class="bg-white rounded-r-xl p-2">
      <p class="text-base lg:text-lg">{{item.amount}}TK</p>
    </div>
  </div>
  }@empty {
  <p>No Budget info available</p>
  }
</div>