<div class="card">
  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">
        <i class="pi pi-user-edit mr-1"></i>
        <span>Edit Profile</span>
      </p-tab>
      <p-tab value="1">
        <i class="pi pi-user mr-1"></i>
        <span>Account</span>
      </p-tab>
      <p-tab value="2">
        <i class="pi pi-cog mr-1"></i>
        <span>App Settings</span>
      </p-tab>
    </p-tablist>

    <p-tabpanels>
      <p-tabpanel value="0">
        <app-edit-profile />
      </p-tabpanel>

      <p-tabpanel value="1">
        <app-account-setting />
      </p-tabpanel>

      <p-tabpanel value="2">
        <app-app-settings />
      </p-tabpanel>
    </p-tabpanels>

  </p-tabs>
</div>