<div class="card">
  <p-tabView styleClass="tabview-custom">

    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-user-edit mr-1"></i>
        <span>Edit Profile</span>
      </ng-template>
      <app-edit-profile />
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-user mr-1"></i>
        <span>Account</span>
      </ng-template>
      <app-account-setting />
    </p-tabPanel>


    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-cog mr-1"></i>
        <span>App Settings</span>
      </ng-template>
      <app-app-settings />
    </p-tabPanel>

  </p-tabView>
</div>